<div>
  <table class="table table-bordered">
    <thead class="dash_table">
      <tr>
        <th>Product Count</th>
        <td>
          <%= @product_count %>
        </td>
        <td>
          <%= link_to "View", [:admin, :products], class: "btn btn-primary" %>
        </td>
      </tr>
      <tr>
        <th>Category Count</th>
        <td>
          <%= @category_count %>
        </td>
        <td>
          <%= link_to "View", [:admin, :categories], class: "btn btn-primary" %>
        </td>
      </tr>
    </thead>
  </table>
</div>