<section class="about-show">
  <header class="page-header">
    <h1>About</h1>  
  </header>
    <div>
      <p>Welcome to the site where we sell the most unusable and expensive gifts you can find.</p>
      <p>Do you have an item you're dying to sell off? Give the site a try!</p>
      <p>The only thing you cannot sell on this site are GameStop stocks. Remember "Can't stop. Won't stop. Gamestop"</p>
    </div>
</section>